[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

max_allowed_packet=300M
max_connections = 300

thread_concurrency = 8
thread_stack = 256K
thread_cache_size = 16

innodb_thread_concurrency = 0
innodb_buffer_pool_size = 1G
innodb_flush_log_at_trx_commit = 0
innodb_flush_method=O_DIRECT
slow_query_log = 1
long_query_time = 1
slow_query_log_file=mysql-slow.log
log-queries-not-using-indexes

general-log=TRUE
general-log-file=/var/log/mysql/query.log

[mysqld_safe]
log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
